html {
    background-image: url(Images/EE.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-attachment: fixed; /* Add this line to fix the background image */
}

html::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/EE.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    /* filter: blur(5px); */
    z-index: -1;
    background-attachment: fixed; /* Add this line to fix the background image */
}

body {
    opacity: 1;
    color: #020317;
    background-color: #f5ece6;
    max-width: 750px;
    margin: auto;
    margin-top: -2px;
    padding-top: 3px;
    padding-bottom: 40px;
}

img {
    width: 600px;
}

.row {
    display: flex;
    text-align: left;
    align-items: center;
    width: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}

.column p {
    text-align: justify;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    padding-right: -2px;
}

nav li {
    padding: 10px 0;
    border-right: 1px solid #f5ece6;
    color: #f5ece6;
    float:left;
    font-family: 'Roboto Mono';
}

nav a {
    color: #020317;
    padding: 10px 20px;
    text-decoration: none;
}

/* Individual Projects */
.project_heading {
    width: 600px;
    margin: 0 auto;
}

.cover {
    width: 50%;
    height: 200px;
    margin-right: 2.5%;
}

main {
    width: 600px;
    margin: 0 auto;
}

main img {
    width: 600px;
}

p {
    text-align: justify;
}

.small_img {
    width: 70%;
    padding: 2.5%;
    margin: 0 auto; /* Add this line to center the image */
    display: block; /* Ensure it's a block-level element for margin auto to work */
}

.x-small_img {
    width: 50%;
    padding: 2.5%;
    margin: 0 auto;
    display: block;
}